.book.font-family-0 {font-family: Georgia, serif;}
.book.font-family-1 {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.book .book-summary{left:-270px;width:270px;}.book .book-body .page-wrapper .page-inner{max-width:830px;}@media (min-width: 600px) {.book.with-summary .book-header.fixed {left: 270px;}.book.with-summary .book-body{left:270px}}@media (max-width: 600px) {.book.with-summary .book-header.fixed {min-width: 270px;}.book.with-summary .book-body {min-width: 270px;}}
.book .book-body .page-wrapper .page-inner section.normal {line-height: 1.9em;}
