p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book.font-family-0 {font-family: Georgia, serif;}
.book.font-family-1 {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.book .book-summary{left:-400px;width:400px;}.book .book-body .page-wrapper .page-inner{max-width:700px;}@media (min-width: 600px) {.book.with-summary .book-header.fixed {left: 400px;}.book.with-summary .book-body{left:400px}}@media (max-width: 600px) {.book.with-summary .book-header.fixed {min-width: 400px;}.book.with-summary .book-body {min-width: 400px;}}
.book .book-body .page-wrapper .page-inner section.normal {line-height: 1.8em;}

